.body-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    background-color: #292929;
    margin: 0px;
}

h2 {
    position: fixed;
    color: white;
    font-size: 2rem;
    font-weight: 2rem;
    margin: 0px;
    top: 0;
    left: 0;
    padding: 5px;
}