.body-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    background-color: #292929;
    margin: 0px;
}

.container {
    background-color: #0058aa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
    gap: 1rem;
    border-radius: 1rem;
    filter: drop-shadow(5px 5px 10px #000000);
}

input {
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-size: 2rem;
}

button {
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-size: 2rem;
}

h1 {
    color: white;
    font-size: 5rem;
    font-weight: 2rem;
    margin: 0px;
}